<div class="au-wrapper">
    <div class="title">
        <h1>Crear Usuario</h1>
    </div>
    <div class="field">
        <form action="submit">
            <label for="i-username">Nombre de usuario</label>
            <input id="i-username" type="text">
            <label for="i-name">Nombre</label>
            <input id="i-name" type="text">
            <label for="i-lastname">Apellido</label>
            <input id="i-lastname" type="text">
            <label for="i-email">Email</label>
            <input id="i-email" type="email">
            <label for="i-password">Contraseña</label>
            <input id="i-password" type="password">
            <label for="i-group">Grupo</label>
            <select name="" id="i-group"></select>
            <label for="i-permissions">Permisos</label>
            <select name="" id="i-permissions"></select>
            <div class="checks">
                <div class="check">
                    <label for="">Staff</label>
                    <input type="checkbox" checked>
                </div>
                <div class="check">
                    <label for="">Activo</label>
                    <input type="checkbox">
                </div>
                <div class="check">
                    <label for="">SuperUsuario</label>
                    <input type="checkbox">
                </div>


            </div>
            <div class="checks">
                <input type="button" value="Agregar">
                <input type="button" value="Agregar otro">
                <input type="button" value="Cancelar">
            </div>

        </form>
    </div>
</div>