<p-toast position="bottom-center" key="bc"></p-toast>

<div class="au-wrapper">
    <div class="loadingspinner" *ngIf="loading$ |async">
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <div class="title">
        <h1>Crear Usuario</h1>
    </div>
    <div class="field">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label for="i-username">Nombre de usuario</label>
            <input id="i-username" type="text" formControlName="username">
            <label for="i-name">Nombre</label>
            <input id="i-name" type="text" formControlName="first_name">
            <label for="i-lastname">Apellido</label>
            <input id="i-lastname" type="text" formControlName="last_name">
            <label for="i-email">Email</label>
            <input id="i-email" type="email" formControlName="email">
            <label for="i-password">Contraseña</label>
            <input id="i-password" type="password" formControlName="pass">
            <label for="i-group">Grupo</label>
            <select name="" id="i-group" formControlName="gro_ups">
                <option *ngFor="let group of groups" value="{{group}}" >{{group}}</option>
            </select>
            <label for="i-permissions">Permisos</label>
            <select name="" id="i-permissions" formControlName="user_permission">
                <option *ngFor="let permission of permissions" value="{{permission}}" >{{permission}}</option>
            </select>
            <div class="checks">
                <div class="check">
                    <label for="">Staff</label>
                    <input class="apple-switch" type="checkbox" checked (change)="changeStaff()">
                </div>
                <div class="check">
                    <label for="">Activo</label>
                    <input class="apple-switch" type="checkbox" (change)="changeActiveUser()">
                </div>
                <div class="check">
                    <label for="">SUser</label>
                    <input class="apple-switch" type="checkbox" (change)="changeSuperUser()">
                </div>


            </div>
            <div class="au-btns">
                <input type="submit" value="Agregar">
                <input type="button" value="Agregar otro">
                <input type="button" value="Cancelar">
            </div>

        </form>
    </div>
</div>