<div class="navigation">
    <ul>

        <a href="#">
            <span class="brand-icon"><img src="../../../assets/logos/hvdevslogo.svg" alt=""></span>
            <h3 class="brand-name"><strong>HV Devs </strong>Transactions</h3>
        </a>

        <li [ngClass]="createUserActive ? 'active' : ''">
            <a (click)="setActive('createUser')">
                <span class="icon2"><i class="ion ion-md-person-add"></i></span>
                <span class="title">Usuarios</span>
            </a>
        </li>
        <li [ngClass]="fundsActive ? 'active' : ''">
            <a (click)="setActive('seeFunds')">
                <span class="icon ion ion-md-cash"></span>
                <span class="title">Fondos</span>
            </a>
        </li>
        <li [ngClass]="settingsActive ? 'active' : ''">
            <a>
                <span class="icon ion ion-md-settings"></span>
                <span class="title">Configuracion</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon ion ion-md-log-out"></span>
                <span class="title">Log Out</span>
            </a>
        </li>
    </ul>
</div>