<div class="settings-wrapper">
    <div class="see-settings-wrapper">
        <div class="title">
            <h1>Ajustes de cuenta</h1>
        </div>
        <div class="profile-img-box">
            <div class="img-container">
                <img src="../../../assets/img/homrx.jpg" alt="">
            </div>
        </div>
        <div class="btn-container">
            <input type="button" value="Subir Foto">
            <input type="button" value="Editar datos">
        </div>
        <div class="form-container">

        </div>
    </div>
</div>