/* contenedor general, contiene el sidebar y el content */

.dash-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 2px 16px 2px;
    position: relative;
    max-width: 100%;
}

.dash-container .sidebar-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1px 3px 2px 1px;
    position: relative;
    width: 310px;
    max-height: 100%;
}


/* este contenedor solo envuelve el content */

.dash-container .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: calc(100% - 310px);
}


/* el topbar esta dentro del content-wrapper */

.content-wrapper .topbar {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    height: 60px;
    margin-bottom: 8px;
    background-color: #ffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 4px 0px;
}


/* el titulo, incluye el nombre de usuario */

.content-wrapper .topbar .tb-title {
    margin: auto 0px;
    padding: 0px 20px;
    display: block;
    width: 86%;
    font-weight: 300;
    font-size: 36px;
}

.content-wrapper .topbar .tb-title p span {
    font-weight: 500;
}


/* icono notificaciones - mi cuenta */

.content-wrapper .topbar .tb-notifications,
.content-wrapper .topbar .tb-my-account {
    width: 7%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}


/* iconos */

.content-wrapper .topbar .tb-notifications i,
.content-wrapper .topbar .tb-my-account i {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.6);
}

.content-wrapper .component-wrapper {
    margin-top: 5px;
    margin-right: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    min-width: 100%;
    max-width: 100%;
}

.content-wrapper .component-wrapper .component1 {
    min-width: 35%;
    max-height: 100%;
}

.content-wrapper .component-wrapper .component2 {
    min-width: 65%;
}

.content-wrapper .component-wrapper .component3 {
    min-width: 100%;
    max-width: 100%;
}