/* contenedor general, contiene el sidebar y el content */

.dash-container {
    padding: 3px 2px 16px 2px;
    position: relative;
    width: 100%;
}


/* este contenedor solo envuelve el content */

.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 3px;
    top: 3px;
    height: 910px;
    width: calc(100% - 310px);
}


/* el topbar esta dentro del content-wrapper */

.content-wrapper .topbar {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 80px;
    background-color: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}


/* el titulo, incluye el nombre de usuario */

.content-wrapper .topbar .tb-title {
    margin: auto 0px;
    padding: 0px 20px;
    display: block;
    width: 86%;
    font-weight: 300;
    font-size: 44px;
}

.content-wrapper .topbar .tb-title p span {
    font-weight: 500;
}


/* icono notificaciones - mi cuenta */

.content-wrapper .topbar .tb-notifications,
.content-wrapper .topbar .tb-my-account {
    width: 7%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}


/* iconos */

.content-wrapper .topbar .tb-notifications i,
.content-wrapper .topbar .tb-my-account i {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.6);
}

.content-wrapper .component-wrapper {
    margin-top: 5px;
    margin-right: 3px;
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 80px);
    padding: 10px;
    border-radius: 15px;
}