<div class="su-wrapper">
    <div class="title">
        <h1>Ver Usuarios</h1>
    </div>
    <div class="su-cards">
        <div class="su-card">
            <div class="su-card-text">
                <p>Usuarios Totales</p>
            </div>
            <div class="su-card-number">
                <h1>8</h1>
            </div>
        </div>
        <div class="su-card">
            <div class="su-card-text">
                <p>Administradores</p>
            </div>
            <div class="su-card-number">
                <h1>4</h1>
            </div>
        </div>
        <div class="su-card">
            <div class="su-card-text">
                <p>Usuarios</p>
            </div>
            <div class="su-card-number">
                <h1>4</h1>
            </div>
        </div>
    </div>
    <div class="su-table-wrapper">
        <div class="su-table-header">

        </div>
    </div>
</div>